@font-face {
  font-family: 'Game Of Squids';
  src: url('gameofsquids.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Made Tommy';
  src: url('madetommy.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
